html {
  position: relative;
  height: 100%;
  font-family: 'Bitter', serif;
  font-size: 62.5%;
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 78.125%;
  }
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  font-size: 1.8rem;
  background-image: repeating-linear-gradient(
    180deg,
    /* Iceland */
    rgb(2, 82, 156) 0,
    rgb(2, 82, 156) 7.777777778%,
    rgb(255, 255, 255) 7.777777778%,
    rgb(255, 255, 255) 8.888888889%,
    rgb(220, 30, 53) 8.888888889%,
    rgb(220, 30, 53) 11.111111111%,
    rgb(255, 255, 255) 11.111111111%,
    rgb(255, 255, 255) 12.222222222%,
    rgb(2, 82, 156) 12.222222222%,
    rgb(2, 82, 156) 20%,
    /* Norway */
    #ED2939 20%,
    #ED2939 27.5%,
    rgb(255, 255, 255) 27.5%,
    rgb(255, 255, 255) 28.75%,
    #002664 28.75%,
    #002664 31.25%,
    rgb(255, 255, 255) 31.25%,
    rgb(255, 255, 255) 32.5%,
    #ED2939 32.5%,
    #ED2939 40%,
    /* Finland */
    rgb(255, 255, 255) 40%,
    rgb(255, 255, 255) 47.272727273%,
    rgb(0, 47, 108) 47.272727273%,
    rgb(0, 47, 108) 52.727272727%,
    rgb(255, 255, 255) 52.727272727%,
    rgb(255, 255, 255) 60%,
    /* Sweden */
    rgb(0,127,229) 60%,
    rgb(0,127,229) 68%,
    rgb(255,204,0) 68%,
    rgb(255,204,0) 72%,
    rgb(0,127,229) 72%,
    rgb(0,127,229) 80%,
    /* Denmark */
    rgb(198,12,48) 80%,
    rgb(198,12,48) 88.571428571%,
    rgb(255, 255, 255) 88.571428571%,
    rgb(255, 255, 255) 91.428571429%,
    rgb(198,12,48) 91.428571429%,
    rgb(198,12,48) 100%
  );
  width: 80vw;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 480px) {
  body {
    width: 61.804697157vw;
  }
}

main {
  position: relative;
  height: 100%;
  color: white;
  background-color: rgb(0, 119, 192);
  text-align: center;
  border-radius: .5rem;
  border: .2rem solid rgb(129, 206, 255);
}

h1 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;

  margin: 0;
  font-size: 3rem;
  width: calc(100% - 2rem);
  padding: 0 1rem;
}
.lead {
  position: absolute;
  top: 70%;
  left: 0;
  transform: translateY(-50%);
  width: calc(100% - 2rem);
  padding: 0 1rem;
}
a {
  font-weight: 700;
}
a,
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
